@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

.App {
  text-align: center;
}
body {
  font-family: "PT Sans", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  /* background: white; */
  transition: all 0.2s;
}
.sider-menu-item:hover{
  background-color: #0e2631;
  color: #1890ff;
}


element.style {
  width: 200px;
}
/* .ant-layout-sider-trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 60px;
  color: #1890ff;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  background: #c0e2f1;
  cursor: pointer;
  transition: all 0.2s;
} */

/* #components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
} */

.site-layout .site-layout-background {
  background: #fff;
}

header {
  border-bottom: 1px solid #eee;
  width: 100%;
  z-index: 20;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: white;
}

header li {
  float: right;
  margin-right: 20px;
}

header li img {
  width: 150px;
  margin-left: 14px;
  margin-top: 2px;
}

header li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 13px 13px;
  text-decoration: none;
}

header li a:hover {
  background-color: #1890ff;
  color: white;
}

.content {
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 40px;
}

/* .content-head {
  background-color: #d2dae2;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-top: 1px;
  padding-bottom: 7px;
} */

.title-list {
  font-size: 25px;
  font-style: italic;
  color: #f1f2f6;
}

.main-content {
  margin: 0 auto;
  width: 80%;
  min-height: 535px;
}

.detail-header {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  filter: grayscale(1);
  opacity: 0.9;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: "hidden";
  height: calc(1rem + 7vw);
  padding-top: 10px;
}
